body{
    font-family: 'Poppins', sans-serif;
    background: #F8FAFB;
    font-weight: 400;
    min-height: 100vh;
}
.content{
    max-width: 80%;
    margin: auto;
    padding: 40px 0;
}
.row{
    margin: 0;
}
p{
    margin-bottom: 0;
}
a{
    color: inherit;
    text-decoration: inherit;
}
a:hover{
    color: inherit;
    text-decoration: inherit;
}
/* sidebar */
.new-sidebar{
    position: fixed;
    left: 0px;
    top: 120px;
    background-color: #794EDA;
    bottom: 20px;
    width: 70px;
    border-left: 5px solid #F8FAFB;
    border-radius: 10px;
    box-sizing: initial;
    transition: width .5s;
    overflow: hidden;
    z-index: 999;
}
.expand{
    width: 230px;
}
.new-sidebar ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 30px;
}
.new-sidebar ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.new-sidebar ul .active{
    background-color: #F8FAFB;
    border-radius: 20px 0 0 20px;
    color: #000;
}
.new-sidebar ul .active svg{
    fill: #000 !important;
}
.new-sidebar ul .active a{
    color: #000 !important;
}
.new-sidebar ul li a{
    position: relative;
    width: 100%;
    text-decoration: none;
    color: #fff;
    display: flex;
}
.new-sidebar ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    min-height: 70px;
    line-height: 70px;
    text-align: center;
}
.new-sidebar ul li a .icon img{
    max-width: 30px;
}
.new-sidebar ul li a .icon svg{
    height: 30px;
    width: 30px;
    fill: #fff;
}
.new-sidebar ul li a .title{
    position: relative;
    padding-left: 10px;
    display: block;
    height: 60px;
    line-height: 70px;
}

/* sidebar curve */
.new-sidebar ul .active b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background-color: #F8FAFB;
}
.new-sidebar ul .active b:nth-child(1)::before{
    content: '';
    left: 0;
    top:0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #794EDA;
    border-radius: 0 0 20px 0;
}
.new-sidebar ul .active b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background-color: #F8FAFB;
}
.new-sidebar ul .active b:nth-child(2)::before{
    content: '';
    left: 0;
    top:0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #794EDA;
    border-radius: 0 20px 0 0;
}





/* header */
.new-dash-header{
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #E8E8E8;
}
.new-dash-header .header-container{
    max-width: 90%;
    margin: auto;
}
.new-dash-header .link-itmes{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.new-dash-header .link-itmes a{
    text-decoration: none !important;
    color: #000 !important;
    margin-right: 30px;
}
.new-dash-header .link-itmes .user-img-wraper{
    position: relative;
    cursor: pointer;
}
.new-dash-header .link-itmes .upgrade-btn{
    border: 1px solid #794EDA;
    padding: 3px 10px;
    color: #794EDA;
}
.new-dash-header .link-itmes .user-img-wraper img{
    height: 40px;
    object-fit: cover;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #794EDA;
    margin-right: 5px;
}
.user-img-wraper .drop-inner{
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 230px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow:1px 1px 5px rgba(153, 153, 153, 0.7);
    display: none;
    padding: 5px;
    z-index: 999;
}
.user-img-wraper .drop-inner a{
    display: block;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.user-img-wraper .drop-inner i{
    width: 30px;
}
.user-img-wraper .drop-inner a:hover{
    background-color: #794EDA;
    color: #fff !important;
}
.new-dash-header .link-itmes .user-img-wraper:hover>.drop-inner{
    display: block;
}
.landing-infos{
    padding-left: 10px;
    margin: auto;
    margin-top: 20px;
    color: #000;
}
.landing-box-wraper{
    position: relative;
}

.landing-single-box2,
.landing-single-box3,
.landing-single-box4{
    display: none;
}






.landing-infos p{
    margin-bottom: 5px;
}
.landing-infos .title{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #000;
}
.landing-infos .point i{
    color: #000;
}
/* gretings */
.gretings{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.gretings img{
    height: 50px;
}
.gretings .text{
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 0;
}

.landing-box{
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
    min-height: 280px;
    cursor: pointer;
    transition: .3s;
}
.landing-box:hover{
    transform: scale(1.05);
}
.landing-box .box-body{
    min-height: 170px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing-box .procced-btn{
    text-align: center;
}
.landing-box .procced-btn .btn{
    background-color: #794EDA;
    border-radius: 10px;
    color: #fff;
    padding: 5px 20px;
}
.landing-box .title{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
.landing-box .title p{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 500;
}
.landing-box .title img{
    object-fit: contain;
}
#dashborad-toogle-btn{
    position: fixed;
    left: 10px;
    font-size: 25px;
    top: 88px;
    cursor: pointer;
}


/* startup page slider */
.landing-video-carousel{
    background-color: transparent;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
}
.landing-video-carousel .keywords span{
    padding: 5px 10px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}
.landing-video-carousel .keywords .key-active{
    color: #794EDA;
}
.landing-video-carousel .owl-nav,
.landing-video-carousel .owl-dots{
    display: none;
}
.single-amazing{
    padding: 20px;
    border-radius: 10px;
    position: relative;
    min-height: 300px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}
.single-amazing .fa-play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: #4C49E4;
    z-index: 9;
    display: none;
    transition: .5s;
    border: 3px solid #4C49E4;
    border-radius: 10px;
    padding: 10px;


}






.single-amazing:hover{
    transform: scale(1.08);
}
.single-amazing:hover>.fa-play{
    display: block;
}
.single-amazing .cover-img{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: inline-block;
    z-index: 1;
}
.single-amazing .duration{
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    z-index: 9;
    font-size: 14px;
    align-items: center;
}
.single-amazing .duration i{
    margin-right: 7px;
    color: #fff;
}
.single-amazing::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
}

.single-amazing .price span{
    color: #928FAA;
    margin-left: 3px;
}
.single-amazing .head{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    color: #fff;
    margin-bottom: 5px;
    margin: 10px 0;
    z-index: 3;
    text-align: center;
    font-weight: 500;
    line-height: 180%;
}





/* mini price */
.mini-price{
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    position: absolute;
    right: 10%;
    top: 82px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 9;
}
.mini-price .fa-caret-up{
    position: absolute;
    right: 10%;
    top: -27px;
    font-size: 40px;
    color: rgba(244, 106, 214, 0.5);
}
.show{
    display: block !important;
}
.hide{
    display: none !important;
}
.mini-price-single{
    text-align: center;
    padding: 20px 0;
    border: 1px solid rgba(244, 106, 214, 0.1);
}
.mini-price-single:hover{
    background-color: rgba(244, 106, 214, 0.1);
}
.mini-price-single .head{
    font-weight: 700;
    color: #F46AD6;
}
.mini-price-single p{
    font-size: 24px;
}
.mini-price-single .title{
    font-weight: 300;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.mini-price-single .price{
    font-family: 'Gelasio', serif;
}
.mini-price-single .price-btn{
    font-family: 'Roboto', sans-serif;
    background: rgba(76, 73, 228, 0.81);
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
}
.mini-price-single .detail{
    margin: 15px 0 0 0;
    cursor: pointer;
    font-family: 'Gelasio', serif;
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}


/* affiliate bar */
.affiliate-bar .wraper{
    max-width: 1000px;
    width: 90%;
    margin: auto;
    position: relative;
}
.affiliate-bar .wraper::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 100%;
    background-color: #F4E2E2;
    border-radius: 10px;
}
.affiliate-bar{
    margin-top: 50px;
}
.affiliate-bar b{
    font-weight: 500;
    font-size: 18px;
}
.affiliate-bar p{
    margin-bottom: 0;
}
.affiliate-btn{
    background-color: #794EDA;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
}
.affiliate-btn:hover{
    color: #fff;
}



/* payment popup */
.latest-payement-popup-wraper{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    overflow: auto;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}
.latest-payement-popup-wraper i{
    position: absolute;
    right: 10%;
    top: 20px;
    color: red;
    cursor: pointer;
    font-size: 30px;
}
.latest-payement-popup-wraper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.latest-payement-popup-wraper::-webkit-scrollbar { 
    display: none;
}
.latest-payment-popup{
    max-width: 680px;
    width:90%;
    margin: auto;
    padding: 50px 0;
}
.latest-payment-popup h1{
    color: rgb(255, 255, 255);
    font-size: 44px;
    font-weight: 700;
    margin: 0px 0px 40px;
    padding: 0px;
    line-height: 54px;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.latest-payment-popup .pop{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(32, 32, 32);
    box-shadow: rgb(19 23 35 / 4%) 0px 12px 35px 10px;
}
.latest-payment-popup .pop form input{
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 2px;
    border: 1px solid rgb(209, 215, 217);
    background-color: rgb(255, 255, 255);

}
.latest-payment-popup .pop form .head{
    font-size: 18px;
    margin: 15px 0px;
    font-weight: 300;
}
.latest-payment-popup .pop form .submit-btn{
    padding: 15px 20px;
    border-radius: 4px;
    background-color: #4C49E4;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}
.latest-payment-popup .pop .c-right{
    color: rgb(32, 32, 32);
    font-size: 13px;
    margin: 20px 0px 36px;
    font-weight: 300;
    text-align: center;
}
.latest-payment-popup .pop .c-right a{
    color: #F46AD6;
}
.pop .radio .single-option{
    color: #202020;
    padding: 10px 15px;
    border: 1px solid #F46AD6;
}
.pop .radio .single-option p{
    margin-bottom: 5px;
}
.pop .radio .single-option .title{
    font-size: 14px;
    font-weight: 700;
}
.pop .radio .single-option .per{
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.pop .radio .single-option .per span{
    color: #F46AD6;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
}
.pop .radio .single-option .des{
    font-size: 13px;
}




/* all videos popup */
.videos-popup-wraper{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 999;
    display: none;
}
.videos-popup-wraper .videos-popup{
    width: 95%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    background-color: #F8FAFB;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-height: 95%;
    overflow-y: auto;
}
.videos-popup-wraper .videos-popup .topbar .title .head{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.videos-popup-wraper .videos-popup .topbar .title .des{
    font-size: 15px;
}
.video-section .close-btn{
    border: 1px solid red;
    padding: 5px 15px;
    font-weight: 500;
    color: red;
}
.video-section .control-btn{
    padding: 5px 15px;
    font-weight: 500;
    min-width: 180px;
}
.video-section .prev{
    border: 1px solid #4C49E4;
    color: #4C49E4;
}
.video-section .next{
    border: 1px solid #4C49E4;
    background-color: #4C49E4;
    color: #fff;
}
.video-section .current-video{
    height: 60vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: 30px 0;
    border-radius: 10px;
}
.video-section .current-video .running-video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.video-section .playlist{
    height: 60vh;
    margin: 30px 0;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: auto;
}
.video-section .playlist a{
    display: block;
    padding: 10px;
    border: 1px solid #2020201a;
    text-align: justify;
    font-size: 15px;
}
.video-section .playlist a:first-child{
    border-radius: 10px 10px 0 0;
}
.video-section .playlist a:last-child{
    border-radius: 0 0 10px 10px;
}
.video-section .playlist .active{
    background-color: #4C49E4;
    color: #fff;
    
}
/* .video-section .playlist::-webkit-scrollbar {
    width: 20px;
}
.video-section .playlist::-webkit-scrollbar-track {
    background-color: transparent;
}
.video-section .playlist::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
.video-section .playlist::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
} */
*::-webkit-scrollbar {
    width: 20px;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
