body{
    font-family: 'Poppins', sans-serif;
    background: #F8FAFB;
    font-weight: 400;
    min-height: 100vh;
}
.content{
    max-width: 80%;
    margin: auto;
    padding: 40px 0;
}

/* sidebar */
.new-sidebar{
    position: fixed;
    left: 0px;
    top: 120px;
    background-color: #794EDA;
    bottom: 20px;
    width: 70px;
    border-left: 5px solid #F8FAFB;
    border-radius: 10px;
    box-sizing: initial;
    transition: width .5s;
    overflow: hidden;
    z-index: 999;
}
.expand{
    width: 230px;
}
.new-sidebar ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 30px;
}
.new-sidebar ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.new-sidebar ul .active{
    background-color: #F8FAFB;
    border-radius: 20px 0 0 20px;
    color: #000;
}
.new-sidebar ul .active svg{
    fill: #000 !important;
}
.new-sidebar ul .active a{
    color: #000 !important;
}
.new-sidebar ul li a{
    position: relative;
    width: 100%;
    text-decoration: none;
    color: #fff;
    display: flex;
}
.new-sidebar ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    min-height: 70px;
    line-height: 70px;
    text-align: center;
}
.new-sidebar ul li a .icon img{
    max-width: 30px;
}
.new-sidebar ul li a .icon svg{
    height: 30px;
    width: 30px;
    fill: #fff;
}
.new-sidebar ul li a .title{
    position: relative;
    padding-left: 10px;
    display: block;
    height: 60px;
    line-height: 70px;
}

/* sidebar curve */
.new-sidebar ul .active b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background-color: #F8FAFB;
}
.new-sidebar ul .active b:nth-child(1)::before{
    content: '';
    left: 0;
    top:0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #794EDA;
    border-radius: 0 0 20px 0;
}
.new-sidebar ul .active b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background-color: #F8FAFB;
}
.new-sidebar ul .active b:nth-child(2)::before{
    content: '';
    left: 0;
    top:0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #794EDA;
    border-radius: 0 20px 0 0;
}





/* header */
.new-dash-header{
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #E8E8E8;
}
.new-dash-header .header-container{
    max-width: 90%;
    margin: auto;
}
.new-dash-header .link-itmes{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.new-dash-header .link-itmes a{
    text-decoration: none !important;
    color: #000 !important;
    margin-right: 30px;
}
.new-dash-header .link-itmes .user-img-wraper{
    position: relative;
    cursor: pointer;
}
.new-dash-header .link-itmes .upgrade-btn{
    border: 1px solid #794EDA;
    padding: 3px 10px;
    color: #794EDA;
}
.new-dash-header .link-itmes .user-img-wraper img{
    height: 40px;
    object-fit: cover;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #794EDA;
    margin-right: 5px;
}
.user-img-wraper .drop-inner{
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 230px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow:1px 1px 5px rgba(153, 153, 153, 0.7);
    display: none;
    padding: 5px;
    z-index: 999;
}
.user-img-wraper .drop-inner a{
    display: block;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.user-img-wraper .drop-inner i{
    width: 30px;
}
.user-img-wraper .drop-inner a:hover{
    background-color: #794EDA;
    color: #fff !important;
}
.new-dash-header .link-itmes .user-img-wraper:hover>.drop-inner{
    display: block;
}
.landing-infos{
    max-width: fit-content;
    margin: auto;
    margin-top: 20px;
    color: #000;
}
.landing-box-wraper{
    position: relative;
}
.landing-box-wraper::after{
    content: '';
    height: 80%;
    width: 100%;
    background-color: #F4E2E2;
    position: absolute;
    left: 0;
    top: 25%;
    z-index: -1;
    border-radius: 30px;
}
.landing-infos p{
    margin-bottom: 5px;
}
.landing-infos .title{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #000;
}
.landing-infos .point i{
    color: #000;
}
/* gretings */
.gretings{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.gretings img{
    height: 50px;
}
.gretings .text{
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 0;
}

.landing-box{
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
}
.landing-box .box-body{
    padding: 50px 20px;
    text-align: center;
}
.landing-box .procced-btn{
    text-align: center;
}
.landing-box .procced-btn .btn{
    background-color: #794EDA;
    border-radius: 10px;
    color: #fff;
    padding: 5px 20px;
}
.landing-box .title{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
.landing-box .title p{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 500;
}
#dashborad-toogle-btn{
    position: fixed;
    left: 10px;
    font-size: 25px;
    top: 88px;
    cursor: pointer;
}


/* startup page slider */
.landing-video-carousel{
    background-color: #F4E2E2;
    margin-top: 70px;
    padding: 30px;
}
.landing-video-carousel .keywords span{
    border: 1px solid #794EDA;
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    color: #794EDA;
    margin-top: 5px;
    margin-bottom: 5px;
}
.landing-video-carousel .keywords .key-active{
    background-color: #794EDA;
    color: #fff;
    font-weight: 500;
}
.landing-video-carousel .owl-nav,
.landing-video-carousel .owl-dots{
    display: none;
}
.single-amazing{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    
}
.single-amazing .cover-img{
    max-height: 200px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.single-amazing .price span{
    color: #928FAA;
    margin-left: 3px;
}
.single-amazing .head{
    font-weight: 700;
    font-size: 17px;
    color: #000;
    margin-bottom: 5px;
    margin: 10px 0;
}
.single-amazing .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single-amazing .price b{
    color: #794EDA;
    font-size: 20px;
}
.single-amazing .price p{
    color: #0A033C;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}
.single-amazing .price p img{
    margin-top: -6px;
    margin-right: 8px;
    width: 20px;
    display: inline-block;
}





/* mini price */
.mini-price{
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    position: absolute;
    right: 10%;
    top: 82px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    display: none;
}
.mini-price .fa-caret-up{
    position: absolute;
    right: 10%;
    top: -27px;
    font-size: 40px;
    color: rgba(244, 106, 214, 0.5);
}
.show{
    display: block !important;
}
.hide{
    display: none !important;
}
.mini-price-single{
    text-align: center;
    padding: 20px 0;
    border: 1px solid rgba(244, 106, 214, 0.1);
}
.mini-price-single:hover{
    background-color: rgba(244, 106, 214, 0.1);
}
.mini-price-single .head{
    font-weight: 700;
    color: #F46AD6;
}
.mini-price-single p{
    font-size: 24px;
}
.mini-price-single .title{
    font-weight: 300;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.mini-price-single .price{
    font-family: 'Gelasio', serif;
}
.mini-price-single .price-btn{
    font-family: 'Roboto', sans-serif;
    background: rgba(76, 73, 228, 0.81);
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
}
.mini-price-single .detail{
    margin: 15px 0 0 0;
    cursor: pointer;
    font-family: 'Gelasio', serif;
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}